<!doctype html>
<html> 
	<head> 
		<title> 80´s movies quiz page </title>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="/static/normalize-css.css">
		<link rel="stylesheet" href="/static/format-quiz.css">
	</head>
	<body> 
		<img src="/static/et.jpg" alt="80´s movies" style="width:600px;height:100;"auto>
		<h2 class="headings"> {{ question_number }}. {{ question }} </h2>
			<p> 
				<form>
				<input type="radio" name="Flashdance" value="Breakfast club"> {{ answer1 }} 
				<br>
				<input type="radio" name="Flashdance" value="Flashdance"> {{ answer2 }}
				<br>
				<input type="radio" name="Flashdance" value="Top Gun"> {{ answer3 }}
				</form>
				<br>
				<input type="submit" value="Next">
     
			</p>
		

	</body>

</html> 