<!doctype html>
<html> 
	<head> 
		<title> 80´s movies quiz page </title>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="/static/normalize-css.css">
		<link rel="stylesheet" href="/static/format-quiz.css">
	</head>
	<body> 
		<img src="/static/80s-header.jpg" alt="80´s Quiz" style="width:1200px;height:100;"auto>
		<br>
		<div class="question">
		<h2 class="headings"> {{ question_number }}. {{ question }} </h2>
		<br>
			<p> 
				<form>
				<input type="radio" name="Flashdance" value="Breakfast club"> {{ answer1 }} 
				<br>
				<input type="radio" name="Flashdance" value="Flashdance"> {{ answer2 }}
				<br>
				<input type="radio" name="Flashdance" value="Top Gun"> {{ answer3 }}
				</form>
				<br>
				<a href="{% url "completed_page" quiz_slug %}"><input type="submit" value="Next"></a>
     
			</p>

		</div>	
		

	</body>

</html> 