 <!doctype html>
<html> 
	<head> 
		<title> Movies quiz end page </title>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="normalize-css.css">
		<link rel="stylesheet" href="format-quiz.css">
	</head>
	<body> 
		<img src="/users/marsel/desktop/projects/quiz-templates/et.jpg" alt="80´s Quiz" style="width:600px;height:100;"auto>
		<H1 class="headings"> Your 80´s movies score! </H1>
			<p> You scored 8/10!</p>
			<p> <a   href="file:///Users/marsel/Desktop/Projects/quiz-templates/start-page.html"> Take another test!</a>   
		 	</p>

	</body>

</html> 


