<!doctype html>
<html> 
	<head> 
		<title> 80´s movies quiz page </title>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="/static/normalize-css.css">
		<link rel="stylesheet" href="/static/format-quiz.css">
	</head>
	<body> 
		<img src="/static/et.jpg" alt="80´s movies" style="width:600px;height:100;"auto>
		<div class="question">
		<h2 class="headings"> What track can you not hear in the movie Grease? </h2>
			<p> 
				<form>
				<input type="radio" name="The time of my life" value="The time of my life"> The time of my life
				<br>
				<input type="radio" name="The time of my life" value="The one that I want"> The one that I want
				<br>
				<input type="radio" name="The one that I want" value="Blue Moon"> Blue Moon 
				</form>
				<br>
				<input type="submit" value="Next">
     
			</p>
		</div>
		

	</body>

</html> 