<!doctype html>
<html> 
	<head> 
		<title> 80´s movies quiz page </title>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="normalize-css.css">
		<link rel="stylesheet" href="format-quiz.css">
	</head>
	<body> 
		<img src="/users/marsel/desktop/projects/quiz-templates/et.jpg" alt="80´s movies" style="width:600px;height:100;"auto>
		<h2 class="headings"> In what movie can you hear the song Maniac? </h2>
			<p> 
				<form>
				<input type="radio" name="Flashdance" value="Breakfast club"> Breakfast club
				<br>
				<input type="radio" name="Flashdance" value="Flashdance"> Flashdance
				<br>
				<input type="radio" name="Flashdance" value="Top Gun"> Top Gun
				</form>
				<br>
				<input type="submit" value="Next">
     
			</p>
		

	</body>

</html> 