<!doctype html>
<html> 
	<head> 
		<title> 80´s movies quiz page </title>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="normalize-css.css">
		<link rel="stylesheet" href="format-quiz.css">
	</head>
	<body> 
		<img src="/users/marsel/desktop/projects/quiz-templates/et.jpg" alt="80´s movies" style="width:600px;height:100;"auto>
		<div class="question">
		<h2 class="headings"> In what movie can you hear the song "You´re the best"? </h2>
			<p> 
				<form>
				<input type="radio" name="Karate Kid" value="James Bond"> James Bond
				<br>
				<input type="radio" name="Karate Kid" value="Grease"> Grease
				<br>
				<input type="radio" name="Karate Kid" value="Karate Kid"> Karate Kid
				</form>
				<br>
				<input type="submit" value="Next"> Next> 

     
			</p>
		</div>

		

	</body>

</html> 