 <!doctype html>
<html> 
	<head> 
		<title> Movies quiz start page </title>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="normalize-css.css">
		<link rel="stylesheet" href="format-quiz.css">
	</head>
	<body> 
		<img src="/users/marsel/desktop/projects/quiz-templates/et.jpg" alt="80´s Quiz" style="width:600px;height:100;"auto>
		<H1 class="headings"> Fabulous movies of the 80´s </H1>
			<p> The 80´s offers many feelgood movies with iconic music tracks. Can you recall what music belongs to what movie? <a   href="file:///Users/marsel/Desktop/Projects/quiz-templates/movies-quiz-page.html"> Take the test to find out!</a>   
		 	</p>

	</body>

</html> 


