         <!doctype html>
<html> 
	<head> 
		<title>  Maria´s quiz page</title>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="normalize-css.css">
		<link rel="stylesheet" href="format-quiz.css">
	</head>
	
	<header>
		<img src="/users/marsel/desktop/projects/quiz-templates/80s-header.jpg" alt="80´s Quiz" style="width:1200px;height:100;"auto>
	</header>
	<body> 
		<br>
		<H1 class="headings"> Quizzes from the 80´s </H1>
		<br>
		<h2 class="headings"> One quiz for every 80´s maniac </h2>
		<br>
		<p> This page was created by the true 80´s fan Maria Selting who wanted to share her passion with other enthusiasts all over the world. There is one test for every category the 80´s has to offer. Check your own 80 ´s knowledge by taking the tests below!   
		</p>
		<br>
		<li> <a   href="file:///Users/marsel/Desktop/Projects/quiz-templates/start-page-movies-quiz.html"> Movies </a> </li>
		<li> Great musicians </li>
		<li> Disco music </li>
		<li> Fashion </li>
		<li> True or false </li>
		</p> 

	 		</p>

	</body>

</html> 


